<<<<<<< HEAD
body {
    background-color: #f0f0f0;
  }
  
  .internal-css {
    color: green;
    font-size: 20px;
=======
body {
    background-color: #f0f0f0;
  }
  
  .internal-css {
    color: green;
    font-size: 20px;
>>>>>>> origin/main
  }